@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Roboto:wght@700&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
}

nav {
    background-color: black;
    color: white;
    height: 16vh;
    font-size: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    font-size: 1.5em;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin: 1em;
    font-family: 'Merienda', cursive;
}

.line {
    background-color: black;
    height: 6px;
    width: 0;
    border-radius: 40px;
    position: absolute;
    background-color: #911d91;
    transition: width 0.7s ease-in-out;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,24vh);
    grid-template-rows: repeat(3,12vw);
}


.box{
    border: 2px solid black;
    font-size: 4vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(247, 233, 233);
    font-size: 4.2vw;
}

.gameInfo {
    padding: 4vh 5vw;
}

.turn-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    font-size: 2em;
    font-weight: bold;
    padding: 30px 0;
}

.reset {
    border: 0em;
    padding: 20px 40px;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    font-size: 1.2em;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

@media screen and (max-width: 950px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .container{
        grid-template-columns: repeat(3,20vh);
        grid-template-rows: repeat(3,20vw);
    }
}